*{
    font-family: 'Poppins', sans-serif;
}

.forgot-child-1 {
    background-image: url("/Images/static/pexels-tima-miroshnichenko-6826765.jpg");
    background-size: cover;
    height: 100vh;
}

.forgot-child-1-text {
    margin-top: 20px;
    color: white;
    letter-spacing: 4px;
    text-shadow: 2px 2px 7px rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.forgot-child-2 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgot-child-2-items {
    text-align: left;
    padding-left: 90px;
}

.forgot-child-2-items h3{
    font-size: 40px;
}

.forgot-child-2-items p{
    font-size: 14px;
    color: #C8CC9C;
    margin-top: 15px;
    text-align: center;
}
.forgot-child-2-form {
    margin-top: 20px;
}

.forgot-child-2-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    color: rgb(18, 17, 17);
    cursor: pointer;
}

.forgot-child-2-form input::placeholder {
    font-size: 14px;
    color: #6C7275;
}

.forgot-child-2-form Button {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.forgot-child-2-form Button:hover {
    background-color: #ffffff;
    border: 2px solid black;
    color: black;
}


@media (max-width: 768px) {
    .forgot-child-1 {
        display: none;
    }
    .forgot-child-2-items {
        padding-left: 30px;
    }
}
