.home-category-child {
    padding: 0px 80px;
    padding-bottom: 35px;
}

.home-category-child img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: center;
    padding: 0px 20px 20px 0px ;

}

.home-category-child h4 {
    color: #6C7275;
    cursor: pointer;

}

.home-category-child h4:hover {
    color: #0e0e0e;

}

.home-category-child a {
    cursor: pointer;
    text-decoration: underline;
    color: black;
}

.home-category-child a:hover{
    text-decoration: none;
    color: #6C7275;
}

