.footer-banner-child-1 img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 70vh;
}

.footer-banner-child-2 {
    background-color: #F3F5F7;
    display: flex;
    align-items: center;
    border-top: .5px solid #d0d3d4;
}

.footer-banner-child-2-items {
    padding-left: 70px;
}

.footer-banner-child-2-items h6 {
    color: #377DFF;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.footer-banner-child-2-items h3 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer-banner-child-2-items p {
    color: #6C7275;
    line-height: 23px;
}

.footer-banner-child-2-items a {
    font-size: 16px;
    color: #6C7275;
    text-decoration: underline;

}

.footer-banner-child-2-items a:hover {
    color: #e1bc60;
    text-decoration: none;
}