.admin-user {
    background-color: #383854;
    min-height: 100vh;
}

.admin-user-child-1-items{
    display: flex;
    justify-content: space-between; 
}

.admin-user-child-1-items h5{
    color: white;
    font-size: 32px;
}
.admin-user-child-1-items select{
    color: white;
    background-color: #2E2E48;
    font-size: 12px;
    height: 32px;
    width: 120px;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.admin-user-child-2 {
    padding-top: 50px;
}
