*{
    font-family: 'Poppins', sans-serif;
}

.login-child-1 {
    background-image: url("/Images/static/pexels-max-rahubovskiy-6758237.jpg");
    background-size: cover;
    height: 100vh;
}

.login-child-1-text {
    margin-top: 40px;
    color: rgb(255, 255, 255);
    letter-spacing: 4px;
    text-shadow: 2px 2px 7px rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.login-child-2 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-child-2-items {
    text-align: left;
    padding-left: 90px;
}

.login-child-2-items h3{
    font-size: 40px;
}

.login-child-2-items p{
    font-size: 14px;
    color: #6C7275;
    margin-top: 15px;
}

.login-child-2-items p a {
    color: #38CB89;
    font-weight: 700;
}

.login-child-2-form {
    margin-top: 20px;
}

.login-child-2-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    color: rgb(18, 17, 17);
    cursor: pointer;
}

.login-child-2-form input::placeholder {
    font-size: 14px;
    color: #6C7275;
}

.login-child-2-form Button {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.login-child-2-form Button:hover {
    background-color: #ffffff;
    border: 2px solid black;
    color: black;
}

.login-child-2-form h6 {
    font-weight: 700;
    font-size: 14px;
    display: inline;
    float: right;
    margin-right: 35px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .login-child-1 {
        display: none;
    }
    .login-child-2-items {
        padding-left: 25px;
    }
}