.nav-row {
    padding: 0px 80px;
    border-bottom: 1px solid #bdc0c1;
}

.nav {
    height: 14vh;
    display: flex;
    align-items: center;
}

.nav-child-1 h3{
    font-size: 24px;
}

.nav-child-2 {
    display: flex;
    justify-content: space-evenly;
}

.nav-child-2 a{
    text-decoration: none;
    color: #6C7275;
}

.nav-child-3 {
    display: flex;
    justify-content: end;
}

.nav-child-3 ul {
    display: flex;
    list-style: none;
}

.nav-child-3 li {
    margin: 12px;
    margin-top: 25px;
    cursor: pointer;
}

