.new-arrivals {
    padding: 60px 80px 40px 80px; 
    border-top: 1px solid #bdc0c1;
    
}

.new-arrival-items {
    display: flex;
    justify-content: space-between;
}

.new-arrival-items h5{
    font-size: 37px;
    font-weight: bold;
}

.new-arrival-items a{
    font-size: 13px;
    color: #6C7275;
    text-decoration: underline;
    margin-right: 20px;
    margin-top: 60px;

}

.new-arrival-items a:hover{
    color: #e1bc60;
    text-decoration: none;

}

.new-arrivel-products{
    padding-left: 80px;
}

.new-arrivel-product-row {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #cb8282 transparent; 
}