.product-card {
    width: 285px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.product-card-child-1 img{
    width: 225px;
    height: 270px;
    object-fit: fill;
    object-position: center;
    cursor: pointer;
}
.product-card-child-2 {
    margin-top: 10px;
}

.product-card-rating{
    padding: 5px 0px;
    cursor: pointer;
}

.star-icon {
    color: rgb(160, 160, 9);
}

.product-card-child-2  h6{
    padding-top: 7px;
    font-size: 15px;
    font-weight: bold;
}