.admin-sidebar{
    width: 100%;
    background-color: #2E2E48;
    min-height: 100vh;
    height: auto;
    color: white;
    padding: 25px 10px;
    position: relative;
}

.admin-sidebar-child-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.admin-sidebar-child-1 h5 {
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
}

.admin-sidebar-child-2 {
    margin: 0px 5px;
}

.admin-sidebar-item {
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    padding: 11px 25px;
    margin: 12px 0px;
    cursor: pointer;
}

.admin-sidebar-item a {
    color: white;
}

.admin-sidebar-item:hover {
    background-color: #475BE8;
}

.admin-sidebar-child-3 {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 11px 30px;
    margin: 12px 0px;
    cursor: pointer;
}